.container{
	padding-top: 20px;
}
#createTournament{
	border-radius: 10px;
	margin-top: 10px;
}
input[type="submit"]{
	background: #E7E4E4;
	border-radius:10px;
	border: 1px solid;
}
#listPlayersContainer{
	padding-bottom: 10px;
}